body {
  display: grid;
  grid-template-columns: 20vw 80vw;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.announcement-description {
 margin: auto;
 font-size: 10px;
}

.announcement-header {
  margin: auto;
  font-size: 12px;
}

.buttons {
  background:rgba(0, 146, 209, 1);
  color: white;
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  margin: 0px 10px;
}

.icons {
  justify-self: center;
}

.project-boxes {
  background: white;
  margin: 10px 10px;
  display: grid;
  grid-template-columns: 2% 98%;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgb(204 209 215);
}

.project-box-left-accent {
  background: orange;
  border-radius: 5px 0px 0px 5px;
}

.project-box-main {
  margin: 0px 20px;
  display: grid;
  grid-template-rows: 80% 20%;
}

.project-description {
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 12px;
  color: rgba(111, 111, 111, 1);
}

.project-header {
  margin: auto;
  font-size: 14px;
}

.project-icons {
  display: grid;
  grid-template-columns: repeat(3, 15%);
  justify-content: end;
  align-content: space-between;
}

.project-text {
  margin-top: 20px;
}

.trending-description {
  margin: auto;
  font-size: 12px;
}

.trending-div {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 20px;
}

.trending-header {
  margin: auto;
  font-size: 12px;
}

.user-photo-large {
  border: 2px solid black;
  border-radius: 50%;
  background: white;
  height: 50px;
  width: 50px;
  margin: 0px 20px;
}

.user-photo-small {
  border: 2px solid black;
  border-radius: 50%;
  background: white;
  height: 30px;
  width: 30px;
}

#actions {
  margin: 0px 30px;
}

#aside {
  display: grid;
  grid-template-rows: 50% 50%;
}

#announcement-items {
  background: white;
}

#announcement-title {
  font-size: 16px;
}

#dashboard {
  font-weight: 500;
}

#greeting {
  display: flex;
}

#header {
  background: white;
  display: grid;
  grid-template-rows: 50% 50%;
  box-shadow: 0px 3px 3px rgba(204, 209, 215, 1);
  position: relative;
  z-index: 1;
}

#header-upper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

#header-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#hi-there {
  font-size: 12px;
  font-weight: 700;
}

#info {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  justify-items: center;
  margin: auto 30px;
}

#left {
  background: rgba(0, 146, 209, 1);
  color: white;
  display: grid;
  height: 100vh;
  grid-template-columns: 10% 90%;
  grid-template-rows: 0px repeat(11, 30px);
  gap: 10px 20px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

#main {
  background: rgba(225, 232, 239, 1);
  display: grid;
  grid-template-columns: 75% 25%;
}

#name-heading {
  font-size: 22px;
  font-weight: 700;
  margin: 5px 0px;
}

#projects {
  display: grid;
  grid-template-rows: 5% repeat(3, 28%);
  grid-template-columns: 50% 50%;
  gap: 10px 10px;
  margin: 15px;
}

#project-title {
  font-size: 16px;
  margin: 0px 10px;
  display: grid;
  align-items: end;
}

#right {
  display: grid;
  grid-template-rows: 20vh 80vh;
}

#search {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  justify-items: end;
}

#search-bar {
  background: rgba(225, 232, 239, 1);
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 24px;
}

#search-icon {
  margin: 0px 20px;
}

#trending-items {
  background: white;
}

#trending-title {
  font-size: 16px;
}

#username {
  font-size: 16px;
  font-weight: 700;
}