body {
  display: grid;
  grid-template-columns: 20vw 80vw;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.project-boxes {
  background: white;
}

#header {
  background: white;
  display: grid;
  grid-template-rows: 50% 50%;
}

#header-upper {
  display: flex;
  justify-content: space-between;
}

#header-lower {
  display: flex;
  justify-content: space-between;
}

#greeting {
  display: flex;
}

#left {
  background: rgba(0, 146, 209, 1);
  color: white;
  display: grid;
  height: 100vh;
}

#main {
  background: rgba(225, 232, 239, 1);
  display: grid;
  grid-template-columns: 75% 25%;
}

#projects {
  display: grid;
  grid-template-rows: 10% 90%;
  margin: 15px;
}

#project-items {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  column-gap: 20px;
  row-gap: 20px;
}

#project-title {
  font-size: 20px;
  height: 22px;
  margin: 15px 0px;
}

#right {
  display: grid;
  grid-template-rows: 20vh 80vh;
}